body{
text-align: center;

}



h1{
    color: red;
}

.resultct{
    border: 1px solid black;
    list-style-type: none;
}

.eachresult{
    width:100%
}

.professional{
    width:100%;
    border: 1px solid black
}